body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 100%;
}

h1 {
    margin: 1rem;
    font-size: 1.6em;
    color: darkblue;
    text-align: center;
}

form {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: grid;
}

fieldset {
    display: grid;
    gap: 0.5rem;
    border: 1px solid rgb(0 0 0 / 0.4);
    margin-bottom: 1rem;
    padding: 3rem;
}

legend {
    padding: 0.5rem;
    color: lightblue;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: lucida grande, Arial, sans-serif;
}

label {
    text-align: center;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.6rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: green;
}

footer {
    margin: 1rem auto 0;
    width: 90%;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.2rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    padding: 0.2rem 0;
}