:root {
    --width: 150px;
    --height: auto;
    --background-color: darkblue;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
    /* text-align: center;
    margin-top: 20px; */
}

img {
    width: var(--width);
    height: var(--height);
    padding: 2px;
    box-shadow: 0 0 20px grey;
}

main {
    max-width: 840px;
}

main img {
    width: var(--width);
    height: var(--height);
    padding: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px grey;
}

p {
    padding: 0;
}

aside {
    width: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    padding-top: 20px;
    text-align: center;
}